@page "/gloomhaven"
@inject IJSRuntime JS;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorApp.GH
@using BlazorApp.Models

@implements IAsyncDisposable
@inject NavigationManager NavigationManager


<div>
    <div class="hexGrid">
        @{
            for (int i = 0; i < Hexes.Count(); i++)
            {
                <Hex @ref="Hexes[i]"></Hex>
            }
        }

    </div>
    <div id="sidePanel">
        <button class="btn btn-primary" @onclick="Start">start</button>
        <ul id="messagesList">
            @foreach (var message in messages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
</div>
@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private List<Hex> Hexes = new List<Hex>();


    private void StartGame()
    {
        //var x = JS.InvokeAsync<bool>("confirm", "si si isty?");
    }

    protected override async Task OnInitializedAsync()
    {
        for (int j = 0; j < 1; j++)
        {
            for (int i = 0; i <= 1; i++)
            {
                Hexes.Add(new Hex(j,i));
            }
        }


        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/gloomhavenHub"))
                .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });


        hubConnection.On<Character, int, int>("SpawnCharacter", (obj, row, col) =>
        {
            messages.Add($"spawned character {obj} on hex [{row},{col}]");
            StateHasChanged();
        });
        hubConnection.On<TerrainComponent, int, int>("SpawnTerrainComponent", (obj, row, col) =>
        {
            messages.Add($"spawned terrain tile {obj} on hex [{row},{col}]");

            StateHasChanged();
        });

        await hubConnection.StartAsync();

        Console.WriteLine($"Board connected.");

    }

    public async Task Send() =>
     await hubConnection.SendAsync("SendMessage", "", "");

    public async Task Click(string hexId) =>
        await hubConnection.SendAsync("HexClicked", hexId);

    public async Task Start()
    {
        await hubConnection.SendAsync("StartClicked");
    }

    public bool IsConnected =>
hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }



}
