#clearingContainer {
    position: relative;
    width: 1000px;
    height: 1000px;
    background-image: url(../images/board.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.clearing {
    border: 3px solid red;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: white;
}

#sidePanel {
    display: inline-block;
    float: right;
}

.hexGrid {
    position: absolute;
    margin:10px;
    top:50px;
}



.hexagon {
    position: absolute;
}

    .hexagon>div>div {
        position: absolute;
        border-style: solid;
        border-color: black;
        border-width: 0px 1px;
        margin: 0px;
        z-index:1;
    }

div.pointy .h1 {
    transform: rotate(90deg);
}

div.pointy .h2 {
    transform: rotate(30deg);
}

div.pointy .h3 {
    transform: rotate(-30deg);
}

div.flat .h1 {
    transform: rotate(90deg);
}

div.flat .h2 {
    transform: rotate(30deg);
}

div.flat .h3 {
    transform: rotate(-30deg);
}

/*
p.hexText{
    top:10px;
    left:10px;
    z-index:2;
    position:absolute;
}*/



